* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.block {
	padding-top: 100px; /* отсуп для блока внутри*/
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: #087DE4;
	height: 100vh; /* всегда будет на весь экран*/
	               /* в ходе адаптации менять на auto*/ 
}

.head-txt {
	width: 50%;
	height: 50px;
	margin: 0 auto;
	border:1px solid #fff;
	margin-bottom: 20px; /* отсуп, толкаем нижний  блок вниз*/
}

.head-txt h1 {
	text-align: center; /* текст по центру*/
	color:#fff;
	text-transform: uppercase;
	font-size: 28px;
	margin-top: 7px; /* по умолчанию у h1 есть отсупы*/
}


.block-inner {
	width: 90%;
	height: auto; /* обрати внимание auto*/
	margin: 0 auto;
	border:1px solid red;

}

.block-inner-item {
	padding-top: 10px;
	width: 33%;
	height: 300px;
	border:1px solid green;
	display: inline-block; /* вместо float: left;*/

}

.individual {
	padding-top: 10px;
	width: 80%;
	height: 270px;
	margin: 0 auto;
	border:1px solid #fff;
	/* для крастоты*/
	background: rgba(248,80,50,1);
background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 30%, rgba(246,41,12,1) 55%, rgba(240,47,23,1) 79%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(30%, rgba(241,111,92,1)), color-stop(55%, rgba(246,41,12,1)), color-stop(79%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 30%, rgba(246,41,12,1) 55%, rgba(240,47,23,1) 79%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 30%, rgba(246,41,12,1) 55%, rgba(240,47,23,1) 79%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 30%, rgba(246,41,12,1) 55%, rgba(240,47,23,1) 79%, rgba(231,56,39,1) 100%);
background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 30%, rgba(246,41,12,1) 55%, rgba(240,47,23,1) 79%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
	/* тени для боков для разных браузеров*/
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.top-txt {
	width: 80%;
	height: 50px;
	margin: 0 auto;
	border:1px solid #000;

}

.top-txt  h3 {
	text-align: center;
	text-transform: uppercase;
	color:#fff;
	margin-top: 10px;

}

.mobile-menu-inner {
    width: 40px;
    height: 40px;
    border:2px solid #fff;
    border-radius: 3px;
}

 
.menu-line {
   width: 70%;
   height: auto;
   margin: 7px auto;
   border:1px solid #fff;
}

